/* global elements */
nav {
    background-color: #8B4241;
    margin-bottom: 1rem;
    display: flex;
    font-size: 30px;
    border: 2px solid black;
}

nav a {
    text-decoration: none;
    color: #CDB189;
}

nav a:hover {
    background-color: #91640F;
    text-decoration: underline;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0 auto;
}

nav ul li {
    padding: 2rem;
}

.active {
    background-color: #312818;
}

img.thumb {
    width: 70px;
    border-radius: 30%;
}

#nav-thumb {
    padding: 10px;
    border-radius: 1%;
    height: 50%;
}

@media screen and (max-width: 480px) {
    nav {
        font-size: 15px;
    }

    nav ul li {
        padding: 2rem 1rem 0 0 ;
        text-align: center;
    }

    .nav-dividers {
        display: none;
    }
}

header {
    margin: auto;
    margin-bottom: 5px;
    width: 40%;
    border-radius: 10px;
    background-color: #843a21d5;
    color: aliceblue;
    border: 1px solid black;
    font-size: 20px;
}

figcaption {
    margin: auto;
    width: 70%;
    border-radius: 10px;
    background-color: #c3bd80d5;
    color: #000000;
    border: 1px solid black;
}

figcaption a {
    text-decoration: none;
    color: aliceblue;
}

figcaption a:hover {
    text-decoration: underline;
}

footer {
    width: 450px;
    position: fixed;
    bottom: 0px;
    left: -250px;
    transition: 0.3s;
    display: flex;
    background-color: rgba(139, 66, 65, 0.315);
    text-align: center;
    text-wrap: nowrap;
}

footer a {
    color: aliceblue;
}

footer p {
    padding: 1rem;
}

footer:hover, #place-footer:hover, #event-footer:hover {
    left: 0;
}

@media screen and (max-width: 480px) {
    footer {
        height: 35px;
        width: 100%;
        justify-content: center;
        left: 0px;
        padding-bottom: 10px;
    }

    #place-footer, #event-footer {
        display: none;
    }

    #gallery-footer {
        width: 380px;
        left: -200px;
    }

    #gallery-footer p {
        padding-left: 1px;
    }

    footer p {
        padding-top: 0px;
    }

}


/* Startsida CSS */
#home-body {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    font-size: 20px;
    background-size: auto;
    background-image: url(../images/vinter.jpg);
}

#home-main {
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    color: #D8AC82;
}

.main-box {
    padding: 10px;
    background-color: #843a21d5;
    border-radius: 25px;
    border: 2px black solid;
}

.lists {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

ul {
    /* centers ul list WITH bullet points */
    display: table;
    margin: 0;
}

.ul-text {
    margin-bottom: 5%;
}

#ul-list {
    background-color: #843a21d5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 2px black solid;
}

ol {
    display: table;
    margin: 0;
}

#ol-list {
    background-color: #843a21d5;
    padding: 10px;
    border-radius: 25px;
    border: 2px black solid;
}

li {
    text-align: left;
}

@media screen and (max-width: 480px) {
    #home-main {
        display: grid;
    }

    .lists {
        padding: 1rem;
    }

    img.forest {
        width: 300px;
    }

    .ul-text {
        margin: .5rem;
    }

    #ul-list ul, #ol-list ol {
        padding-left: 20%;
    }
}


/* Place (sida 2) CSS */
#place-body {
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    text-align: center;
    font-size: 18px;
    background-size: cover;
    background-image: url(../images/stenbrott.jpg);
}

#place-header {
    width: 45%;
}

#place-main {
    width: 900px;
    margin: auto;
    gap: 10px;
    color: #D8AC82;
    margin-bottom: 30px;

    display: grid;
}

/* containers */
.b1, .b2, .b3 {
    display: flex;
    border: 2px solid black;
    background-color: #843a21d5;
    padding: 10px;
}

/* container articles */
.a1, .a2, .a3 {
    padding: 10px;
}

.a1 a {
    color: deepskyblue;
}

.a3 {
    width: 60%;
}

table {
    background-color: rgb(230, 168, 137);
    color: black;
}

table, th, td {
    border: 1px solid black;
}

.th-number {
    width: 5%;
}

.th-color {
    width: 25%;
}

.th-length {
    width: 15%;
}

@media screen and (max-width: 480px) {    
    #place-main {
        width: 480px;
        margin: 0;
    }

    h2 {
        margin: 0;
        padding-top: 10px;
    }
    
    .b1, .b2, .b3 {
        display: grid;
        width: 90%;
        text-align: center;
        margin: 0;
        padding: 10px;
    }

    .a1, .a2, .a3 {
        padding: 0%;
    }

    .iframe-container iframe {
        width: 420px;
    }

    .container {
        margin: 0;
    }

    .a3 {
        width: 100%;
        padding-right: 1rem;
    }
}

#place-footer {
    width: 422px;
    left: -222px;
    font-size: 20px;
}


/* Evenemang CSS */
#event-body {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    font-size: 18px;
    background-image: url(../images/glimakara-skog.jpg);
    background-size: cover;
}

#event-header {
    width: 25%;
}

#form-box {
    width: 800px;
    background-color: #843a21d5;
    background-color: rgba(255, 136, 0, 0.8);
    text-align: center;
    margin: auto;
    padding: 1rem;
}

.lastname-input {
    padding: 0;
}

.trails-input .date-input {
    float: left;

}

#trails, #date {
    margin-bottom: 1rem;
}

.trolla-map {
    float: right;
    margin-right: 1rem;
}

fieldset {
    text-align: left;
    padding-left: 10%;
    margin-left: 1rem;
}

.medical-box {
    margin-top: 3rem;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #cf8483;
    font-size: 20px;
    color: #000000;
}

button:hover {
    color: aliceblue;
}

@media screen and (max-width: 480px) {    
    #form-box {
        width: 400px;
    }

    .trolla-map {
        margin: auto;
    }

    .trolla-map .credit {
        margin-bottom: 1rem;
    }

    .trails-input, .date-input, .grill, fieldset, .medical-box {
        margin: auto;
    }
    
    fieldset {
        text-align: center;
    }

    fieldset div {
        text-align: left;
        padding-left: 30%;
    }
}

#event-footer {
    width: 450px;
    left: -250px;
    font-size: 20px;
}


/* Galleri CSS */
#gallery-body {
    font-size: 20px;
    background-color: #CDB189;
}

#gallery-header {
    width: 40%;
    text-align: center;
}

#gallery-main {
    text-align: center;
    margin: auto;
    width: 1200px;
}

.img-container {
    display: flex;
    text-align: center;
}

.line {
    width: 5%;
    height: 100%;
    border: 1px black solid;
    align-self: center;
}

.medium-divider {
    width: 1150px;
    height: 100%;
    border: 2px black solid;
    align-self: center;
    margin: 2rem;
}

.img-portrait {
    width: 325px;
    height: 450px;
    margin: 1rem;
    background-size: cover;
}

.cat-caption {
    width: 300px;
}

details {
    margin-bottom: 2rem;
}

.audio-credit {
    width: 550px;
}

.video-container {
    display: flex;
    justify-content: center;
}

.img-container figure {
    padding: 0;
    margin: 0;
}

audio, video, figure iframe {
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
    #gallery-main {
        width: auto;
        
    }

    .img-container {
        display: grid;
    }

    h4 {
        margin-bottom: -1rem;
    }

    .img-portrait {
        margin: auto;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    .img-container figcaption {
        width: 60%;
        margin: auto;
    }

    .line {
        display: none;
    }

    .medium-divider {
        width: auto;
    }

    .audio-credit, .credit {
        width: auto;
    }

    .video-container {
        display: grid;
    }

}


/* git commands CSS */
#git-body {
    background-color: #D8AC82;
}

.git-header {
    width: 33%;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.git-table {
    margin: auto;
}


/* flags CSS */
/* FR */
#flags-body {
    background-color: #D8AC82;
    width: 37%;
}

h3 {
    text-align: center;
    padding-right: 410px;
}

.flag-caption {
    width: 280px;
    margin: 10px 0 0 0;
    padding: 10px;
    text-align: center;
}

.flag {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.blue {
    background-color: blue;
}

.white {
    background-color: snow;
}

.red {
    background-color: red;
}

/* Netherlands (NL), Sweden (SE) */

.flag2 {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.NL-red {
    background-color: rgb(173, 29, 37);
}

.NL-white {
    background-color: white;
}

.NL-blue {
    background-color: rgb(30, 71, 133);
}

.flag-SE-bookend {
    width: 300px;
    height: 80px;
    display: flex;
}

.SE-smallblue {
    width: 80px;
    background-color: rgb(0, 106, 167);
}

.SE-smallyellow {
    width: 40px;
    background-color: rgb(254, 204, 2);
}

.SE-bigblue {
    width: 180px;
    background-color: rgb(0, 106, 167);
}

.flag-SE-middle {
    width: 300px;
    height: 40px;
    background-color: rgb(254, 204, 2);
}

/* Canada (CN) */
.CN {
    width: 75px;
    height: 200px;
    background-color: red;
}

.CN-white {
    width: 150px;
    background-color: white;
}

#maple_leaf {
   width: 90%;
   padding-left: 5%;
   padding-top: 20%;
}


/* global header breakpoint */
@media screen and (max-width: 480px) {
    header, #place-header, #event-header, #gallery-header {
        font-size: 15px;
        width: 60%;
    }
}