/* global elements */
/* double-check even spacing */
/* font */
/* breakpoint */
/* flags */

nav {
    background-color: #8B4241;
    /* position: relative; */
    /* width: 100%;
    height: 100%; */
    margin-bottom: 1rem;
    display: flex;
    font-size: 30px;
    border: 2px solid black;
}

nav a {
    text-decoration: none;
    color: #CDB189;
    /* padding-top: 10px; */
}

nav a:hover {
    background-color: #91640F;
    text-decoration: underline;
    /* width: 50%;
    height: 50%; */
}

nav ul {
    /* margin: 0;
    padding: 0; */
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 2rem;
}

.active {
    background-color: #312818;
    text-decoration: underline;
}

img.thumb {
    width: 70px;
    border-radius: 30%;
}

#nav-thumb {
    padding: 10px;
    border-radius: 1%;
    height: 50%;
    /* background-color: green; */
}

header {
    margin: auto;
    margin-bottom: 5px;
    width: 40%;
    border-radius: 10px;
    background-color: #843a21d5;
    color: aliceblue;
    border: 1px solid black;
    font-size: 20px;
}


/* Hemsida CSS */
#home-body {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    font-size: 20px;
}

#home-main {
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    color: #D8AC82;
}

.main-box {
    padding: 10px;
    background-color: #843a21d5;
    border-radius: 25px;
    border: 2px black solid;
}

.lists {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

ul {
    /* centers ul list WITH bullet points */
    display: table;
    margin: 0 auto;
}

#ul-list {
    background-color: #843a21d5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 2px black solid;
}

ol {
    display: table;
    margin: 0 auto;
}

#ol-list {
    background-color: #843a21d5;
    padding: 10px;
    border-radius: 25px;
    border: 2px black solid;
}

li {
    text-align: left;
}

#home-footer {
    background-color: rgba(48, 148, 48, 0.315);
}


/* Place (sida 2) CSS */
#place-body {
    /* background-color: #CDB189; */
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    text-align: center;
    font-size: 18px;
    
}

#place-header {
    width: 45%;
}

#place-main {
    height: 100vh;
    width: 900px;
    margin: auto;
    gap: 10px;
    color: #D8AC82;
    margin-bottom: 100px;

    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas:
        "b1"
        "b2"
        "b3";
}

.b1, .b2, .b3 {
    display: flex;
    border: 2px solid black;
    background-color: #843a21d5;
    padding: 10px;
}

.b3 {
    
}

.a1, .a2, .a3 {
    padding: 10px;
}

.a3 {
    width: 60%;
}

table {
    background-color: rgb(230, 168, 137);
    color: black;
}

table, th, td {
    border: 1px solid black;
}

.th-number {
    width: 5%;
}

.th-color {
    width: 25%;
}

.th-length {
    width: 15%;
}


/* Evenemang CSS */
#event-body {
    text-align: center;
    /* background-color: #CDB189; */
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    font-size: 18px;
}

#event-header {
    width: 25%;
}

#form-box {
    width: 800px;
    background-color: #843a21d5;
    background-color: rgba(255, 136, 0, 0.7);
    text-align: center;
    margin: auto;
    padding: 1rem;
}

.trails-input .date-input {
    float: left;
}

.float-right {
    float: right;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #cf8483;
    font-size: 20px;
    color: #000000;
}


/* Galleri CSS */
#gallery-body {
    font-size: 20px;
    background-color: #CDB189;
    /* margin: auto; */
}

#gallery-header {
    width: 40%;
    text-align: center;
}

#gallery-main {
    text-align: center;
    margin: auto;
    width: 80%;
    /* background-color: #000000; */
}

.img-container {
    display: flex;
    text-align: center;
}

.line {
    width: 5%; 
    height: 100%;
    border: 1px black solid;
    align-self: center;
}

/* .img-landscape {
    width: 400px;
    height: 300px;
    margin: 1rem;
} */

.img-portrait {
    width: 325px;
    height: 450px;
    margin: 1rem;
    background-size: cover;
}


/* flags CSS */
/* FR */
.flag {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.blue {
    background-color: blue;
}

.white {
    background-color: snow;
}

.red {
    background-color: red;
}

/* NL, SE */

.flag2 {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.NL-red {
    background-color: rgb(173, 29, 37);
}

.NL-white {
    background-color: white;
}

.NL-blue {
    background-color: rgb(30, 71, 133);
}

.flag-SE-bookend {
    width: 300px;
    height: 80px;
    display: flex;
}

.SE-smallblue {
    width: 80px;
    background-color: rgb(0, 106, 167);
}

.SE-smallyellow {
    width: 40px;
    background-color: rgb(254, 204, 2);
}

.SE-bigblue {
    width: 180px;
    background-color: rgb(0, 106, 167);
}

.flag-SE-middle {
    width: 300px;
    height: 40px;
    background-color: rgb(254, 204, 2);
}